{% extends 'registration/base.html' %}
{% load static %}

{% block login %}
    <div class="col-md-5 p-5 bg-white full-height">
        <div class="login-main-left">
            <div class="text-center mb-5 login-main-left-header pt-4">
                <img src="{% static 'img/favicon.png' %}" class="img-fluid" alt="LOGO">
                <h5 class="mt-3 mb-3">Востановление пароля</h5>
                <p>Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.
Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</p>
            </div>
            <form action="{% url 'password_reset' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email.label_tag }}
                    <input type="email" class="form-control" id="id_email" name="email"
                           value='{{ form.email.value|default:"" }}'>
                </div>
                <button type="submit" class="btn btn-outline-primary btn-block btn-lg">
                    Сбросить пароль
                </button>
        </div>
        </form>
        <div class="text-center mt-5">
            <p class="light-gray">Вспомнили пароль? <a href="{% url 'login' %}">Войтите в
                систему</a></p>
        </div>
    </div>
    </div>
{% endblock %}
